p {
  margin: 0;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.calendar-container {
  height: calc(100vh - 64px);
  overflow: hidden;
  overflow-y: scroll;
}

.calendar-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
  .calendar-week-text {
    font-size: 32px;
    display: flex;
    .calendar-week-text--primary {
      font-weight: 600;
      margin-right: 8px;
    }
    .calendar-week-text--divider {
      margin: 0 8px;
    }
  }
  .calendar-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar-action-btn {
    height: 30px;
    min-width: 30px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0 4px;
    @extend %apperance-none;
    outline: none;
    transition: all 0.3s ease;
    &:active, &:focus {
      background: rgba(0, 0, 0, 0.1);
    }
    .calendar-action-btn-text {
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-weight: 500;
      font-size: 12px;
    }
    .calendar-action-btn-text--secondary {
      font-size: 20px;
    }
  }
}

.calendar-col-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.calendar-col-container--header {
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  &.calendar-col-container-week {
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: scroll;
    align-items: flex-start;
  }
  .calendar-col {
    flex: 1;
    align-items: center;
    position: relative;
    &.calendar-col--secondary {
      width: 100px;
      max-width: 100px;
    }
    .calendar-col-time {
      height: 60px;
      position: relative;
      .calendar-col-time--primary {
        position: absolute;
        bottom: -6px;
        font-size: 12px;
        width: 48px;
        text-align: right;
        color: #70757a;
        right: 24px;
      }
      &:after {
        content: '';
        width: 10px;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        bottom: -1px;
      }
      &:last-child:after {
        display: none;
      }
    }
    .calendar-col-item {
      display: flex;
      height: 60px;
      padding: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      flex-wrap: wrap;
      align-items: center;
      &:first-child {
        border-top: 0;
      }
    }
    .calendar-col-header {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 8px 0;
      box-sizing: border-box;
      &.calendar-col-header--active {
        .calendar-col-header-weekday {
          color: rgb(50, 116, 224);
        }
        .calendar-col-header-date {
          background: rgb(50, 116, 224);
          width: 35px;
          height: 35px;
          border-radius: 35px;
          line-height: 35px;
          text-align: center;
          color: #FFFFFF;
        }
      }
      .calendar-col-header-weekday {
        text-transform: uppercase;
        font-size: 12px;
        margin: 0;
        padding: 0;
        letter-spacing: 1.2px;
        font-weight: 600;
        color: #70757a;
        margin-bottom: 8px;
      }
      .calendar-col-header-date {
        font-size: 26px;
        margin: 0;
        color: #3c4043;
      }
    }
  }
}

.event-container {
  min-height: 15px;
  background: rgba(0, 0, 0, 0.2);
  flex: 1;
  border: 1px solid black;
}

.event-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  .event-modal {
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    padding: 24px;
    border-radius: 5px;
    .event-title-input {
      @extend %apperance-none;
      font-size: 20px;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #70757a;
      padding: 8px 0;
      outline: none;
      transition: all 0.3s linear;
      &:active, &:focus {
        border-color: rgb(50, 116, 224);
      }
    }
    .event-time-input-container {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 8px;
      margin: 16px 0;
      .event-time-input-text {
        font-size: 14px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        > span {
          margin-right: 16px;
        }
      }
    }
    .event-modal-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 0 0;
      .event-modal-btn {
        @extend %apperance-none;
        height: 40px;
        margin-left: 16px;
        font-size: 14px;
        border: 1px solid transparent;
        background: transparent;
        border-radius: 5px;
        padding: 0 16px;
        color: #3c4043;
        &.event-modal-btn--primary {
          border: rgb(50, 116, 224);
          background: rgb(50, 116, 224);
          color: #FFFFFF;
        }
        &.event-modal-btn--disabled {
          opacity: 0.7;
        }
        &.event-modal-btn--danger {
          margin: 0;
          color: #FF0000;
          font-size: 14px;
        }
      }
    }
  }
}

%apperance-none {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.event-pill {
  background: rgb(121, 134, 196);
  height: 57px;
  width: calc(100% - 16px);
  position: absolute;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  padding: 8px 0;
  box-sizing: border-box;
  .event-pill-text-container {
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    .event-pill-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 8px;
    }
    .event-pill-text--primary {
      font-size: 14px;
      font-weight: 600;
    }
    .event-pill-text--secondary {
      font-size: 12px;
      margin-top: 4px;
    }
  }
}